body{
    text-align: center;
    background-color:#FDF6EC
}

h1{
    text-align: center;
    color:#3F4853;
}

.hover_bkgr_fricc{
    color: #555;
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}

.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    top: 50px;
    width: 60%;
    height: 30%;
    position: relative;
    border-radius: 8px;
    padding: 5px 5%;
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.popupCloseButton:hover {
    background-color: #ccc;
}

.trigger_popup_fricc {
    cursor: pointer;
    font-size: 15px;
    /* margin: 20px; */
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
}

.trigger_wrapper {
    margin-top: 50px;
    color: rgb(0, 66, 132);
}

.description {
    text-align: left;
}

ul.features {
    font-weight: bold;
}

.shape-ex1{
    width: 60px;
    height: 25px;
    display: block;
    text-align: center;
    cursor: pointer;
    color: #3F4853;
    background-color: transparent;
    border: 1px solid #3F4853;
    transition: all .3s linear;
    display:table-cell;
    vertical-align:middle;

    /* position: absolute;
    top: 45%;
    left: 9%; */
}
.shape-ex1:hover{
    background-color: #3F4853;
    color: #F6EFDC;
}