<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Things About Movies</title>
        <h1>Things About Movies</h1>
        <link rel="stylesheet" href="/static/css/barchart.css">
    </head>
    <body>
        <div class="bar-chart-container"></div>
        <div class="controls">
            <button data-name="revenue">Revenue</button>
            <button data-name="budget">Budget</button>
            <button data-name="popularity">Popularity</button>
        </div>
        <div class="scatter-plot-container"></div>
        <script src="//unpkg.com/d3"></script>
        <script src="/static/js/barchart.js"></script>
    </body>
</html>