<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mind Quiz</title>
        <link rel="stylesheet" href="/static/css/mindquiz.css">
    </head>
    <body>
        <h1>你今年的愛情是什麼滋味?</h1>
        <div>
            <h2 id="question" class="qcolor"></h2>
            <div id="options" class="txtcolor"></div>
        </div>
        <input id="startButton" type="button" value="開始作答" class="shape-ex1">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/js/mindquiz_data.js"></script>
        <script src="/static/js/mindquiz.js"></script>
    </body>
</html>