<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/static/css/youtube.css">
    </head>
    <body>
        <h1>YouTube 心情點唱機</h1>
        <h2></h2><!--播放歌曲名稱放這裡-->
        <div id="player"></div><!-- YouTube Video Player -->
    </br>
        <input id="playButton" type="button" value="Play" class="shape-ex1">
        <div class="words">
            <h3>Play List</h3>
            <div class="link-top"></div>
            <ul>
                <li>OUR CHANNEL COVER -【張惠妹 如果你也聽說 】＃7</li>
                <li>OUR CHANNEL COVER -【林憶蓮 為你我受冷風吹】#2</li>
                <li>OUR CHANNEL COVER -【那英 夢一場】#66</li>
            </ul>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://www.youtube.com/iframe_api"></script>
        <script src="/static/js/youtube_playList.js"></script>
        <script src="/static/js/youtube.js"></script>
    </body>
</html>